# .env.truffle (project root)
ALCHEMY_API_KEY=t3KRo9ZO_fb0MM-fKsydEM4kC3UaAPW7

#  Use mnemonic 
MNEMONIC="lunch viable problem boy expect bulb fly chest venture urge ski drift"
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
SEPOLIA_RPC_URLS=https://ethereum-sepolia.publicnode.com,https://sepolia.gateway.tenderly.co,https://eth-sepolia.g.alchemy.com/v2/t3KRo9ZO_fb0MM-fKsydEM4kC3UaAPW7
